{% extends 'base.html' %}

{% block contenido %}
<!--  Datatables  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>  
<!--  extension responsive  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<!-- ---------------------------------------------------------------------------------------------------------------------- -->
<div class="modulos">
    <div class="card">
        <div class="card-header">
            <div style="float:left;">
                <a role="button" id="btnAdd" class="btn btn-info" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nueva vacante</a>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-6">
                        <h3>Vacantes</h3>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-12">
                    <table id="vacantes_data" class="table table-bordered  display nowrap" cellspacing="0" width="100%" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>Area:</th>
                                <th>Sueldo:</th>
                                <th>Activo:</th>
                                <th>Acciones:</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for item in datos %}
                                <tr>
                                    <td>{{ item['area'] }}</td>
                                    <td>{{ item['sueldo'] }}</td>
                                    <td>{{ "Si" if item['activo'] == 1 else "No" }}</td>
                                <td bgcolor="#FFFFFF" style="text-align: center;">
                                
                                <a class="btn btn-warning modpers" 
                                    data-toggle="modal" 
                                    data-target="#editModal"
                                    data-id="{{ item['id'] }}"
                                    data-area="{{ item['area'] }}"
                                    data-sueldo="{{ item['sueldo'] }}"
                                    data-activo="{{ 'true' if item['activo'] else 'false' }}"
                                    role="button" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    
                                <a class="btn btn-danger del" data-id="{{ item['id'] }}" role="button"><i class="fa fa-close" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Area:</th>
                                <th>Sueldo:</th>
                                <th>Activo:</th>
                                <th>Acciones:</th>
                            </tr>
                        </tfoot>
                    </table>  
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Agregar Vacante</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-12">
                        <label for="">ID</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="text" class="form-control" id="txtID">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Area</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="text" class="form-control" id="txtArea">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Sueldo</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="text" class="form-control" id="txtSueldo">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Activo</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="checkbox" class="form-control" id="chkActivo">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="btnAddVacante"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" width: 110px;"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" name="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Editar Vacante</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Area</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="hidden" id="idVacante">
                        <input type="text" class="form-control" id="txtAreaUp">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Sueldo</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="text" class="form-control" id="txtSueldoUp">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Activo</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="checkbox" class="form-control" id="chkActivoUp">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="btnUpdateVacante"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" width: 110px;"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </div>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--   Datatables-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>    
    <!-- extension responsive -->
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    
    <script>
    window.setTimeout(function(){
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 3000);

    $(document).ready(function(){
        $('#vacantes_data').DataTable({
            responsive: true
        });
    });

    $('#btnAdd').on('click', function(){
        limpiar();
    });

    $("#btnAddVacante").on("click", function () {
            datos = {
                "id" : $("#txtID").val(),
                "area" : $("#txtArea").val(),
                "sueldo" : $("#txtSueldo").val(),
                "activo" : $("#chkActivo").is(":checked")
            };
            $.ajax({
                    type: "POST",
                    url: "/insertar_vacante",
                    data: JSON.stringify(datos),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        Swal.fire(
                            data[1] == 'success' ? 'Guardado' : 'Atención',
                            data[0],
                            data[1]
                        ).then((result) => {
                            if(data[1] == 'success'){
                                limpiar();
                                location.reload();
                            }
                        })
                        //limpiar();
                    },
                    error: function (a, b, c) {
                        console.log(a);
                        console.log(b);
                        console.log(c);
                    },
                });
        });

    
    $('#vacantes_data').on('click', '.del',function(){

        Swal.fire({
            title: 'Atención',
            text: "Se eliminará la vacante",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar'
            }).then((result) => {
            if (result.value) {
                datos = { "id" : $(this).data('id') }
                $.ajax({
                    type: "POST",
                    url: "/eliminar_vacante",
                    data: JSON.stringify(datos),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                            Swal.fire({
                                title: data[1] == 'success' ? 'Eliminado...' : 'Error...', 
                                text: data[0], 
                                type: data[1],
                                allowOutsideClick: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                    if (result.value) {
                                        if(data[1] == 'success'){
                                            location.reload();
                                        }
                                    }
                            })
                    },
                    error: function (a, b, c) {
                        console.log(c);
                    },
                });
            }
        })
    });


    $('#btnUpdateVacante').on('click', function(){

        Swal.fire({
            title: 'Atención',
            text: "Se actualizará la vacante.",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar'
            }).then((result) => {
            if (result.value) {
                datos = {
                    "id" : $("#idVacante").val(),
                    "area" : $("#txtAreaUp").val(),
                    "sueldo" : $("#txtSueldoUp").val(),
                    "activo" : $("#chkActivoUp").is(":checked")
                };
                $.ajax({
                    type: "POST",
                    url: "/actualizar_vacante",
                    data: JSON.stringify(datos),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                            Swal.fire({
                                title: data[1] == 'success' ? 'Terminado...' : 'Atención', 
                                text: data[0], 
                                type: data[1],
                                allowOutsideClick: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                    if (data[1] == 'success') {
                                        limpiar();
                                        location.reload();
                                    }
                            })
                    },
                    error: function (a, b, c) {
                        console.log(c);
                    },
                });
            }
        })

    });


    $('#vacantes_data').on('click', '.modpers', function(){
        $('#idVacante').val($(this).data('id'));
        $('#txtAreaUp').val($(this).data('area'));
        $('#txtSueldoUp').val($(this).data('sueldo'));
        $(this).data('activo') ? $('#chkActivoUp').prop('checked', true) : $('#chkActivoUp').prop('checked', false);  
    });

    
    function limpiar(){
        $('#txtID').val('');
        $('#txtArea').val('');
        $('#txtSueldo').val('');
        $('#chkActivo').prop('checked', false);
    }
    </script>
{% endblock %}