{% extends 'base.html' %}

{% block contenido %}
<!--  Datatables  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>  
<!--  extension responsive  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<!-- Tabla de datos ---------------------------------------------------------------------------------------------------------------------- -->
<div class="modulos">
    <div class="card">
        <div class="card-header">
            <div style="float:left;">
                <a role="button" id="btnAdd" class="btn btn-info" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nueva entrevista</a>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-6">
                        <h3>Entrevistas</h3>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-12">
                    <table id="entrevistas_data" class="table table-bordered  display nowrap" cellspacing="0" width="100%" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>Vacante:</th>
                                <th>Prospecto:</th>
                                <th>Fecha entrevista:</th>
                                <th>Notas:</th>
                                <th>Reclutado:</th>
                                <th>Acciones:</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for item in entrevistas %}
                                <tr>
                                    <td>{{ item['area'] }}</td>
                                    <td>{{ item['nombre'] }}</td>
                                    <td>{{ item['fecha_entrevista'] }}</td>
                                    <td>{{ item['notas'] }}</td>
                                    <td>{{ "Si" if item['reclutado'] == 1 else "No" }}</td>
                                <td bgcolor="#FFFFFF" style="text-align: center;">
                                
                                <a class="btn btn-warning modpers" 
                                    data-toggle="modal" 
                                    data-target="#editModal"
                                    data-id="{{ item['id'] }}"
                                    data-vacante="{{ item['vacante'] }}"
                                    data-prospecto="{{ item['prospecto'] }}"
                                    data-fecha="{{ item['fecha_entrevista'] }}"
                                    data-notas="{{ item['notas'] }}"
                                    data-reclutado="{{ 'true' if item['reclutado'] else 'false' }}"
                                    role="button" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    
                                <a class="btn btn-danger del" data-id="{{ item['id'] }}" role="button"><i class="fa fa-close" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Vacante:</th>
                                <th>Prospecto:</th>
                                <th>Fecha entrevista:</th>
                                <th>Notas:</th>
                                <th>Reclutado:</th>
                                <th>Acciones:</th>
                            </tr>
                        </tfoot>
                    </table>  
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal de insercion -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Agregar Entrevista</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
            	<div class="form-row">
                    <div class="col-12">
                        <label for="">ID</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="text" class="form-control" id="txtID">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Vacantes</label><span class="oblig"> *</span><label for="">:</label>
                        <select class="form-control" id="cmbVacantes">
                        	{% for v in vacantes %}
                        		<option value="{{ v['id'] }}">{{ v['area'] }}</option>
                        	{% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Prospectos</label><span class="oblig"> *</span><label for="">:</label>
                        <select class="form-control" id="cmbProspectos">
                        	{% for p in prospectos %}
                        		<option value="{{ p['id'] }}">{{ p['nombre'] }}</option>
                        	{% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Fecha Entrevista</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="date" class="form-control" id="dateFechaEnt">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Notas</label><span class="oblig"></span><label for="">:</label>
                        <input type="text" class="form-control" id="txtNotas">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Reclutado</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="checkbox" class="form-control" id="chkReclutado">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="btnAddEntrevista"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" width: 110px;"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal de edicion -->
<div class="modal fade" id="editModal" name="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Editar Entrevista</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Vacantes</label><span class="oblig"> *</span><label for="">:</label>
                         <input type="hidden" id="idEntrevista">
                        <select class="form-control" id="cmbVacantesUp">
                        	{% for v in vacantes %}
                        		<option value="{{ v['id'] }}">{{ v['area'] }}</option>
                        	{% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Prospectos</label><span class="oblig"> *</span><label for="">:</label>
                        <select class="form-control" id="cmbProspectosUp">
                        	{% for p in prospectos %}
                        		<option value="{{ p['id'] }}">{{ p['nombre'] }}</option>
                        	{% endfor %}
                        </select>
                    </div>
                </div>
               <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Fecha Entrevista</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="date" class="form-control" id="dateFechaEntUp">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Notas</label><span class="oblig"></span><label for="">:</label>
                        <input type="text" class="form-control" id="txtNotasUp">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <label for="">Reclutado</label><span class="oblig"> *</span><label for="">:</label>
                        <input type="checkbox" class="form-control" id="chkReclutadoUp">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="btnUpdateEntrevista"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" width: 110px;"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </div>
    </div>
  </div>
</div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--   Datatables-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>    
    <!-- extension responsive -->
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    
    <script>
    window.setTimeout(function(){
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 3000);

    $(document).ready(function(){
        $('#entrevistas_data').DataTable({
            responsive: true
        });
    });

    $('#btnAdd').on('click', function(){
        limpiar();
    });

    $("#btnAddEntrevista").on("click", function () {
            datos = {
            	"id" : $("#txtID").val(),
                "vacante" : $("#cmbVacantes").val(),
                "prospecto" : $("#cmbProspectos").val(),
                "fecha_entrevista" : $("#dateFechaEnt").val(),
                "notas" : $("#txtNotas").val(),
                "reclutado" : $("#chkReclutado").is(":checked")
            };
            $.ajax({
                    type: "POST",
                    url: "/insertar_entrevista",
                    data: JSON.stringify(datos),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        Swal.fire(
                            data[1] == 'success' ? 'Guardado' : 'Atención',
                            data[0],
                            data[1]
                        ).then((result) => {
                            if(data[1] == 'success'){
                                limpiar();
                                location.reload();
                            }
                        })
                    },
                    error: function (a, b, c) {
                        console.log(a);
                        console.log(b);
                        console.log(c);
                    },
                });
        });

    
    $('#entrevistas_data').on('click', '.del',function(){

        Swal.fire({
            title: 'Atención',
            text: "Se eliminará la entrevista.",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar'
            }).then((result) => {
            if (result.value) {
                datos = { "id" : $(this).data('id') }
                $.ajax({
                    type: "POST",
                    url: "/eliminar_entrevista",
                    data: JSON.stringify(datos),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                            Swal.fire({
                                title: 'Eliminado...', 
                                text: data, 
                                type: 'success',
                                allowOutsideClick: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                    if (result.value) {
                                        location.reload();
                                    }
                            })
                    },
                    error: function (a, b, c) {
                        console.log(c);
                    },
                });
            }
        })
    });


    $('#btnUpdateEntrevista').on('click', function(){

        Swal.fire({
            title: 'Atención',
            text: "Se actualizará la entrevista",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar'
            }).then((result) => {
            if (result.value) {
                datos = {
                    "id" : $("#idEntrevista").val(),
                    "vacante" : $("#cmbVacantesUp").val(),
                	"prospecto" : $("#cmbProspectosUp").val(),
                	"fecha_entrevista" : $("#dateFechaEntUp").val(),
                	"notas" : $("#txtNotasUp").val(),
                	"reclutado" : $("#chkReclutadoUp").is(":checked")
                };
                $.ajax({
                    type: "POST",
                    url: "/actualizar_entrevista",
                    data: JSON.stringify(datos),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                            Swal.fire({
                                title: data[1] == 'success' ? 'Terminado...' : 'Atención', 
                                text: data[0], 
                                type: data[1],
                                allowOutsideClick: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                    if (data[1] == 'success') {
                                        limpiar();
                                        location.reload();
                                    }
                            })
                    },
                    error: function (a, b, c) {
                        console.log(c);
                    },
                });
            }
        })

    });


    $('#entrevistas_data').on('click', '.modpers', function(){
        $('#idEntrevista').val($(this).data('id'));
        $('#cmbVacantesUp').val($(this).data('vacante'));
        $('#cmbProspectosUp').val($(this).data('prospecto'));
        $('#dateFechaEntUp').val($(this).data('fecha'));
        $('#txtNotasUp').val($(this).data('notas'));
        $(this).data('reclutado') ? $('#chkReclutadoUp').prop('checked', true) : $('#chkReclutadoUp').prop('checked', false);  
    });

    
    function limpiar(){
    	$('#txtID').val('');
        $('#cmbVacantes').val(0);
        $('#cmbProspectos').val(0);
        $('#dateFechaEnt').val('');
        $('#txtNotas').val('');
        $('#chkReclutado').prop('checked', false); 
    }
    </script>
{% endblock %}