body,
html {
	width: 100%;
	height: 100%;
	background-color: #f1f2f7;
}
.bg-nav {
	background-color: #323638;
}

.container {
	width: 100%;
	max-width: 1200px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
}

table thead,
table tfoot {
	background-color: #ffa43b;
	color: white;
}

.disabledbutton {
	pointer-events: none;
	opacity: 0.4;
}

.modulos {
	margin: 2%;
}

/*ASTERISCO OBLIGATORIO*/
.oblig {
	color: red;
}

.navbar-brand {
	font-size: 18px;
}
