/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
/*DESING BY SH SOFTWARE - shsoftware.com.mx*/

@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: black;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: black;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: black;
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
textarea:focus:-moz-placeholder {
	color: transparent;
}
textarea:focus::-moz-placeholder {
	color: transparent;
}
textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #999999;
}
input:-moz-placeholder {
	color: #999999;
}
input::-moz-placeholder {
	color: #999999;
}
input:-ms-input-placeholder {
	color: #999999;
}

textarea::-webkit-input-placeholder {
	color: #999999;
}
textarea:-moz-placeholder {
	color: #999999;
}
textarea::-moz-placeholder {
	color: #999999;
}
textarea:-ms-input-placeholder {
	color: #999999;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-login {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-color: #43464b;
	background-size: 100% 100%;
}

.wrap-login {
	width: 431px;
	height: 480px;
	background-color: white;
	padding: 20px 110px 33px 70px;
	border-top: 15px solid rgba(264, 164, 59);
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/*------------------------------------------------------------------
[  ]*/
.login-form {
	width: 290px;
}
/*---------------------------------------------*/
.wrap-input {
	position: absolute;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
}

.input {
	font-family: Poppins-Medium;
	font-size: 15px;
	line-height: 1.5;
	color: black;
	display: block;
	width: 100%;
	background: transparent;
	height: 50px;
	border: none;
	border-bottom: 1px solid black;
	padding: 0 10px 0 38px;
}

/*------------------------------------------------------------------
[ Focus ]*/
.input:focus {
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0 1px 0 0 black;
	box-shadow: 0 1px 0 0 black;
}

.symbol-input {
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 15px;
	pointer-events: none;
	color: black;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
	width: 80%;
	float: none;
	margin: 15px auto;
}

.logo_03 {
	text-align: center;
}

.login-form-btn {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: black;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #ffa43b;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.login-form-btn:hover {
	color: #ffa43b;
	background: black;
}
.arrow {
	animation: slide 1s ease-in-out infinite;
	margin-left: 9px;
}
@keyframes slide {
	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(10px, 0);
	}
}
/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 992px) {
	.wrap-login {
		padding: 40px 80px 33px 75px;
	}

	.login-form {
		width: 290px;
	}
}

@media (max-width: 768px) {
	.wrap-login {
		padding: 40px 80px 33px 80px;
	}

	.login-pic {
		display: none;
	}

	.login-form {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.wrap-login {
		padding: 40px 40px 33px 40px;
	}
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: white;
	border: 1px solid #c80000;
	border-radius: 13px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
	pointer-events: none;

	font-family: Poppins-Medium;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: '\f06a';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 13px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}
}
