<!doctype html>
<html>
	<head>
		<title>Entrevistas</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor/sweetalert2/dist/sweetalert2.min.css') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor/animate/animate.css') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor/select2/select2.min.css') }}"/>
    <!--===============================================================================================-->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dash.css') }}"/>
	</head>


	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFFFFF; box-shadow: 1px 1px 5px #999;">
  <div class="navbar-collapse" id="navCatalogos">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}"><i class="fa fa-table" aria-hidden="true"></i> Entrevistas</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('vacantes.vacantes') }}"><i class="fa fa-users" aria-hidden="true"></i> Vacantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('prospectos.prospectos') }}"><i class="fa fa-user" aria-hidden="true"></i> Prospectos</a>
        </li>
    </ul>
  </div>
</nav>

	<body>
		{% block contenido %}{% endblock %}

		<script src="{{ url_for('static', filename='assets/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
  <script src="{{ url_for('static', filename='assets/vendor/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
	</body>
</html>